<div class="container" style="width:50%">
<h1 align="center">Editar Empleado</h1>

<%= render 'form', empleado: @empleado %>

<%= link_to 'Visualizar', @empleado %> |
<%= link_to 'Cancelar', empleados_path %>
</div>
